<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alura - Node.Js</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body>
  <% if(errors){%>
    <div class="alert alert-danger m-2" role="alert">
      <%= errors %>
    </div>
  <% } %>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">nome</th>
            <th scope="col">descrição</th>
            <th scope="col">preço</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < lista.length; i++){ %>
            <tr>
              <td>
                <%=lista[i].id%>
              </td>
              <td>
                <%=lista[i].titulo%>
              </td>
              <td>
                <%=lista[i].descricao%>
              </td>
              <td>
                <%=lista[i].preco%>
              </td>
            </tr>
            <% }%>
        </tbody>
      </table>
</body>

</html>
